<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="special_offer_popup" translate="label" sortOrder="10">
            <label>Special Offering Popup</label>
        </tab>
        <section id="special_offer_popup_main_settings" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Main Settings</label>
            <tab>special_offer_popup</tab>
            <resource>Violeta_SpecialOffer::main_settings_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="popup_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Popup Title</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
                <field id="popup_delay" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Popup Delay</label>
                    <comment>Popup delay time in seconds</comment>
                    <validate>validate-number</validate>
                </field>
            </group>
        </section>
    </system>
</config>