<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <specialoffer>
            <general>
                <enable>0</enable>
                <popup_title>Special Offer!</popup_title>
                <popup_delay>100</popup_delay>
            </general>
        </specialoffer>
    </default>
</config>