<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customer_changes>
            <output_format>csv</output_format>
            <output_dir>var/customer_changes</output_dir>
        </customer_changes>
    </default>
</config>
